<section id="home" class="hero">

    <div class="hero-left">

        <p class="welcome">
            Hello, I'm
        </p>

        <h1>
            Sreekar Somi Setty
        </h1>

        <h2>
            Java Full Stack Developer
        </h2>

        <p class="description">

            Passionate Java Full Stack Developer with experience in building
            enterprise applications using Java, Spring Boot, Angular,
            Kafka, Azure, AWS and Microservices.

        </p>

        <div class="buttons">

            <button (click)="downloadResume()">
                Download Resume
            </button>

            <div class="social-icons">

                <a href="https://github.com/SreekarSetty" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>

                <a href="http://linkedin.com/in/sreekars1515" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>

                <a href="mailto:sreekar1515@gmail.com">
                    <i class="fa-solid fa-envelope"></i>
                </a>

            </div>

        </div>



    </div>

    <div class="hero-right">
        <img src="assets/icons/java.jpeg" class="tech-icon java" alt="Java">

        <img src="assets/icons/spring.jpeg" class="tech-icon spring" alt="Spring Boot">

        <img src="assets/icons/angular.jpeg" class="tech-icon angular" alt="Angular">

        <img src="assets/icons/sql.jpeg" class="tech-icon aws" alt="AWS">

        <img src="assets/icons/kafka.jpeg" class="tech-icon kafka" alt="Kafka">

        <img src="assets/icons/aws.jpeg" class="tech-icon aws" alt="AWS">

        

        <img src="assets/icons/docker.jpeg" class="tech-icon docker" alt="Docker">

        <img src="assets/icons/kubernetes.jpeg" class="tech-icon kubernetes" alt="Kubernetes">
    </div>

</section>