.hero{

    min-height:100vh;
    
    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    
    padding:120px 10%;
    
    background:linear-gradient(135deg,#0f172a,#1e293b);
    
    color:white;
    
    flex-wrap:wrap;
    
    }
    
    .hero-left{
    
    max-width:600px;
    
    }
    
    .welcome{
    
    font-size:22px;
    
    color:#38bdf8;
    
    margin-bottom:10px;
    
    }
    
    h1{
    
    font-size:60px;
    
    margin:0;
    
    }
    
    .typing{
    
    font-size:34px;
    
    margin-top:20px;
    
    color:#38bdf8;
    
    overflow:hidden;
    
    white-space:nowrap;
    
    border-right:3px solid #38bdf8;
    
    width:0;
    
    animation:typing 4s steps(25,end) forwards,
    blink .8s infinite;
    
    }
    
    .description{
    
    margin-top:30px;
    
    line-height:1.8;
    
    font-size:18px;
    
    color:#d1d5db;
    
    }
    
    .buttons{
    
    margin-top:40px;
    
    display:flex;
    
    gap:20px;
    
    }
    
    button{
    
    padding:14px 30px;
    
    border:none;
    
    background:#38bdf8;
    
    color:white;
    
    font-size:17px;
    
    border-radius:8px;
    
    cursor:pointer;
    
    transition:.3s;
    
    }
    
    button:hover{
    
    transform:translateY(-4px);
    
    }
    
    .secondary{
    
    background:transparent;
    
    border:2px solid #38bdf8;
    
    }
    
    .hero-right img{
    
    width:350px;
    
    height:350px;
    
    border-radius:50%;
    
    object-fit:cover;
    
    border:6px solid #38bdf8;
    
    box-shadow:0 0 30px rgba(56,189,248,.5);
    
    }
    
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .social-icons a {
        text-decoration: none;
        margin: 0 10px;
    }
    
    .social-icons i {
        font-size: 24px;
        color: #fff; /* Adjust as needed */
        transition: color 0.3s ease;
    }
    
    .social-icons i:hover {
        color: #007bff; /* Adjust hover color as needed */
    }
    
    @keyframes typing{
    
    from{
    
    width:0;
    
    }
    
    to{
    
    width:350px;
    
    }
    
    }
    
    @keyframes blink{
    
    50%{
    
    border-color:transparent;
    
    }
    
    }
    
    @media(max-width:900px){
    
    .hero{
    
    flex-direction:column-reverse;
    
    text-align:center;
    
    padding-top:150px;
    
    }
    
    .hero-right img{
    
    width:250px;
    
    height:250px;
    
    margin-bottom:40px;
    
    }
    
    h1{
    
    font-size:42px;
    
    }
    
    .typing{
    
    font-size:24px;
    
    }
    
    .buttons{
    
    justify-content:center;
    
    }
    
    .social-icons{
    
    justify-content:center;
    
    }
    
    }